.navbar{
    padding-top: 23px;
    background-color: transparent;
    transition: all .35s ease-in-out;
    &.background-dark{
        background-color: var(--toggle-color);
        .navbar-toggler{
            background-color: #fff;
        }
    }
    .navbar-brand{
        margin-inline-end: 280px;
    }
    .navbar-nav{
        
        .nav-link{
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            color: #fff;
            margin-inline-end: 9.5px;
            line-height: 14px;
            &::first-letter{
                text-transform: lowercase;
            }
        }
    }
}
